.card {
  display: grid;
  grid-template-rows: 20% 1fr 15%;
  justify-items: center;
  cursor: pointer;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  height: 20rem;
  aspect-ratio: 3/4;

  p {
    max-width: -webkit-fill-available;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
  }

  &:hover {
    transform: scale(1.01);
    background-color: rgb(243, 243, 243);
  }
}

.imageContainer {
  height: 205px;
  width: 128px;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 0;

  img {
    height: 100%;
  }
}

.button {
  background-color: transparent;
  border: none;
  color: var(--favorite-color);
  z-index: 100;
  font-size: 2rem;
}

.light {
  background: var(--card-bg-light);
}

.dark {
  background: var(--card-bg-dark);
}
