:root {
  --header-bg-color: rgb(255, 255, 255);
  --hover-color: rgb(231, 227, 227);
}

html {
  overflow-y: scroll;
}

main {
  background: var(--header-bg-color);

  h1 {
    text-align: center;
    margin: 0;
  }
}
