:root {
  --header-bg-color-light: rgb(255, 255, 255);
  --header-bg-color-dark: rgb(180, 180, 180);
  --card-bg-light: rgb(224, 224, 224);
  --card-bg-dark: rgb(233, 233, 233);
  --hover-color: rgb(231, 227, 227);
  --border-color: rgb(189, 189, 189);
}

html {
  overflow-y: scroll;
}

main {
  padding-bottom: 2rem;
  min-height: 80vh;

  h1 {
    text-align: center;
    margin: 0;
  }
}
