:root {
  --header-bg-color-light: rgb(255, 255, 255);
  --header-bg-color-dark: rgb(180, 180, 180);
  --card-bg-light: rgb(224, 224, 224);
  --card-bg-dark: rgb(233, 233, 233);
  --hover-color: rgb(231, 227, 227);
  --border-color: rgb(189, 189, 189);
  --alarm-color: rgb(247, 76, 76);
  --favorite-color: rgb(247, 0, 0);
  --link-color: rgb(44, 34, 34);
  --font-color: black;
  --search-button-color: rgb(209, 209, 209);

  --border-radius: 15px;
  --border-radius-small: 5px;

  --transition-delay: 0.2s;
}

html {
  overflow-y: scroll;
  font-family: 'Roboto Slab', sans-serif;
}

main {
  padding-bottom: 2rem;
  min-height: 80vh;

  h1 {
    text-align: center;
    margin: 0;
  }
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/RobotoSlab-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
