.form {
  display: grid;
  max-width: 80vw;
  grid-template-areas: 'input input-button';
  justify-items: center;
  justify-content: center;
  margin-inline: auto;
  column-gap: 1rem;
}

.container {
  margin-bottom: 1rem;
}

.input {
  width: 50vw;
  grid-area: input;
  border-radius: 10px;
  border: 1px solid rgb(226, 225, 225);
}

.search-result {
  width: 50vw;
  border-radius: 10px;
  background-color: rgb(226, 225, 225);
  position: absolute;
  z-index: 200;

  li {
    list-style-type: none;
    display: flex;
    column-gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;

    padding-inline: 0.5rem;

    img {
      max-height: 3rem;
    }

    &:hover {
      background-color: rgb(209, 209, 209);
    }

    & > div {
      display: flex;
      align-items: flex-end;
      width: 100%;
      justify-content: space-between;
    }
  }
}

.input-button {
  grid-area: input-button;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid black;

  &:hover {
    background-color: var(--hover-color);
  }
}

.light {
  background: var(--card-bg-light);
}

.dark {
  background: var(--card-bg-dark);
}
