.form {
  display: grid;
  max-width: 80vw;
  grid-template-areas: 'input input-button';
  justify-items: center;
  justify-content: center;
  margin-inline: auto;
}

.container {
  margin-bottom: 1rem;
}

.input {
  width: 50vw;
  grid-area: input;
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
  border: 0;
}

.search-result {
  width: 50vw;
  border-radius: var(--border-radius-small);
  background-color: var(--header-bg-color-light);
  position: absolute;
  z-index: 200;

  li {
    list-style-type: none;
    display: flex;
    column-gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;

    padding-inline: 0.5rem;

    img {
      max-height: 3rem;
    }

    &:hover {
      background-color: var(--search-button-color);
    }

    & > div {
      display: flex;
      align-items: flex-end;
      width: 100%;
      justify-content: space-between;
    }
  }
}

.inputButton {
  grid-area: input-button;
  border: 0;
  border-left: 3px solid var(--border-color);
  background-color: var(--header-bg-color-light);
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
  color: var(--font-color);

  &:hover {
    background-color: var(--search-button-color);
  }
}

.light {
  background: var(--card-bg-light);
}

.dark {
  background: var(--card-bg-dark);
}

@media (max-width: 768px) {
  .input {
    width: 70vw;
  }

  .search-result {
    width: 70vw;
  }
}

@media (max-width: 480px) {
  .inputButton {
    width: 20vw;
    height: 8vh;
  }

  .input {
    height: 8vh;
  }
}
