.p {
  text-align: center;
}

.li {
  list-style-type: none;

  a {
    text-decoration: none;
    font-size: 1.5rem;
  }
}

.container {
  display: flex;
  column-gap: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  justify-content: space-between;

  li {
    width: 90%;

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  button {
    background-color: transparent;
    border: 1px solid black;
    border-radius: var(--border-radius-small);

    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    background-color: var(--hover-color);
  }
}

.ul {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin: 1rem;
}

.light {
  background: var(--card-bg-light);
}

.dark {
  background: var(--card-bg-dark);
}
