.tooltip-container {
  position: relative;
  display: flex;
}

.tooltip {
  position: absolute;
  width: 180px;
  padding: 4px 12px;
  margin-left: calc(100%);
  color: red;
  background-color: white;
  border: 1px solid black;
  border-radius: 12px;
  text-align: center;
  white-space: pre-line;
  font-weight: 700;
  pointer-events: none;
}
