.tooltip-container {
  position: relative;
  display: flex;
  margin-block: 1rem;
  align-items: center;
}

.tooltip {
  position: absolute;
  width: 180px;
  padding: 4px 12px;
  margin-left: calc(100%);
  color: var(--alarm-color);
  background-color: var(--header-bg-color-light);
  border: 1px solid rgb(231, 227, 227);
  border-radius: 12px;
  text-align: center;
  white-space: pre-line;
  font-weight: 700;
  pointer-events: none;
  left: 1rem;
}
