.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;

  margin-inline: auto;
}

.image-container {
  height: 40vh;
  width: auto;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
