.ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  justify-content: center;
  justify-items: center;
  gap: 3rem;
}

.p {
  text-align: center;
}

.h1 {
  margin-bottom: 2.75rem;
}

.light {
  background: var(--header-bg-color-light);
}

.dark {
  background: var(--header-bg-color-dark);
}
