.ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  justify-content: center;
  justify-items: center;
  gap: 3rem;
}

.light {
  background: var(--header-bg-color-light);
}

.dark {
  background: var(--header-bg-color-dark);
}
