.header {
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4rem;
}

.logo {
  display: block;
  width: 5rem;
  aspect-ratio: 1;
}

.buttonPanel {
  display: flex;
  gap: 1rem;
}

.container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.light {
  background: var(--header-bg-color-light);
}

.dark {
  background: var(--header-bg-color-dark);
}

.button {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid black;

  &:hover {
    background-color: var(--hover-color);
  }
}

.link {
  text-decoration: none;
  color: rgb(44, 34, 34);
}

.link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(44, 34, 34);
  transition: width 0.2s;
}

.link:hover::after {
  width: 100%;
}
