.header {
  width: 100vw;
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4rem;
  border-bottom: 3px solid black;
}

.logo {
  display: block;
  width: 5rem;
  aspect-ratio: 1;
}

.buttonPanel {
  display: flex;
  gap: 1rem;
}
