.header {
  width: 100vw;
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4rem;
}

.logo {
  display: block;
  width: 5rem;
  aspect-ratio: 1;
}

.buttonPanel {
  display: flex;
  gap: 1rem;
}

.container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.light {
  background: rgb(255, 255, 255);
}

.dark {
  background: rgb(180, 180, 180);
}
