.button {
  background-color: transparent;
  border-radius: var(--border-radius);
  border: 1px solid black;

  &:hover {
    background-color: var(--hover-color);
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.75rem;
}

.main {
  display: flex;
  height: 80vh;

  justify-content: center;
  align-items: center;
}

.container {
  border: 3px solid rgb(0, 0, 0);
  border-radius: var(--border-radius);
  padding: 1rem;
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
}

.light {
  background: var(--header-bg-color-light);
}

.dark {
  background: var(--header-bg-color-dark);
}

.lightInput {
  background: var(--card-bg-light);
}

.darkInput {
  background: var(--card-bg-dark);
}

.input {
  border: none;
  border-radius: var(--border-radius-small);
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

@media (max-width: 768px) {
  .container {
    width: 50vw;
    height: 70vh;
    justify-content: center;
  }

  .input {
    width: 100%;
  }

  .label {
    width: 100%;
  }

  .button {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 80vw;
  }

  .button {
    width: 100%;
  }
}
